@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --neon_passion_light: #d4224f;
        --neon_passion_dark: #91186b;
        --burning_sky_light: #d04701;
        --burning_sky_dark: #a40b0b;
    }

    body {
        margin: 0;
        padding: 0;
        color: #d8d8d8;
        background: linear-gradient(120deg, var(--neon_passion_light), var(--neon_passion_dark)) !important;
        font-family: Arial, Helvetica, sans-serif;

        /* background: var(--neon_passion_light) !important; */
    }

    h1,
    h2,
    h3,
    p,
    header,
    button,
    footer,
    main,
    ul,
    li,
    section {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        list-style: none;
    }

    .mngo-light-input {
        background: rgba(255, 255, 255, 0.4) !important;
        color: darkred !important;
        border: none !important;
    }

    .mngo-light-input::placeholder {
        color: #d8d8d8 !important;
    }

    .mngo-loader {
        border-color: #d8d8d8 var(--burning_sky_dark) #d8d8d8;
    }
}