@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary_1: #AC3B61;
        --primary_2: #DA7B93;
        --secondary_1: #d04701;
        --secondary_2: #78244C;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: linear-gradient(120deg, var(--primary_1), var(--primary_2)) !important;
        color: #d8d8d8;
    }

    text-area {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    header,
    button,
    footer,
    main,
    ul,
    li,
    figure,
    figCaption,
    section,
    aside {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
    }

    .mngo-quiz-background {
        background: linear-gradient(120deg, var(--primary_1), var(--primary_2)) !important;
    }

    .mngo-transp-bckgrnd {
        background: rgba(255, 255, 255, 0.2);
    }

    .mngo-transp-bckgrnd-1 {
        background: rgba(255, 255, 255, 0.05);
    }

    .mngo-light-input {
        background: rgba(255, 255, 255, 0.4) !important;
        border: none !important;
    }

    .mngo-light-input::placeholder {
        color: #d8d8d8 !important;
    }

    .mngo-text-secndry-2 {
        color: var(--secondary_2) !important;
    }

    .mngo-loader {
        border-color: #d8d8d8 var(--secondary_2) #d8d8d8;
    }

    .mngo-quiz-icon {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(103%) contrast(102%);
        /* filter: invert(100%) sepia(0%) saturate(4848%) hue-rotate(33deg) brightness(115%) contrast(69%); */
        /* filter: invert(15%) sepia(51%) saturate(3870%) hue-rotate(299deg) brightness(96%) contrast(98%); */
    }

    .mngo-question a,
    .mngo-question a:visited,
    .mngo-solution-2 a,
    .mngo-solution-2 a:visited {
        color: #d8d8d8;
    }

    .mngo-solution ul,
    .mngo-solution-2 ul {
        margin-left: 30px;
    }

    .mngo-footer-developer {
        color: #fff;
        text-decoration: none;
    }

    .mngo-footer-developer:visited {
        color: #fff;
    }
}